.magnifier {
    width: 150px;
    max-width: max-content;
    height: 150px;
    border-radius: 5px;
    position: fixed;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 0 16px #111,
                0 0 22px #333;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.magnifier::after {
    content: '';
    height: 100px;
    width: 100px;
    background-color: #111;
    position: fixed;
    top: 0;
    left: -150px;
}

/* @media (max-width: 1020px) {
    .magnifier {
        width: 100px !important;
        height: 100px !important;
    }
} */